@import "./variables.scss";

body, html {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background: $bg-lv3;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: invert($bg-lv3);
        color: black;
    }
}

a {
    color: $accent-1;
    // &:visited {
    //     color: darken($accent-1, 20%);
    // }

    &.router-link-exact-active {
        color: #5da3ff;
    }
}
